@keyframes fadeInOpacity {
    0% {
      opacity: 0
    }
  
    100% {
      opacity: 1
    }
  }
  
  :root {
    --0: #419EBB;
    --1: #EDA249;
    --2: #6F2ED6;
    --3: #D14C32;
    --4: #D83A34;
    --5: #CD5120;
    --6: #1EC2A4;
    --7: #2D68F0;
    --white: hsl(0, 0%, 100%);
    --main-bg: #070724;
    --dark-grey: #38384F;
    --grey: #838390;
    --active-color: var(--0)
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none
  }
  
  a {
    text-decoration: none;
    color: var(--white)
  }
  
  body {
    background-color: var(--main-bg);
    font-family: Spartan, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
    color: #fff;
    background-image: url(../assets/background-stars.svg);
    background-size: cover
  }
  
  h2 {
    font-family: Antonio, sans-serif;
    font-size: 2.5em;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1em;
    letter-spacing: -1.5px
  }
  
  h3 {
    text-transform: uppercase;
    font-size: .9em;
    font-weight: 700;
    line-height: 5;
    letter-spacing: 2.6px
  }
  
  h4 {
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 1px
  }
  
  .header__main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2em;
    border-bottom: .2em solid var(--dark-grey);
    height: 5rem
  }
  
  .header__secondary {
    display: flex;
    justify-content: space-between;
    padding: 0 2em;
    border-bottom: 1px solid var(--dark-grey);
    height: 4rem;
    align-items: stretch
  }
  
  .header__secondary__title {
    color: var(--grey);
    cursor: pointer
  }
  
  .header__secondary__title--active {
    color: var(--white);
    border-bottom: 5px solid var(--active-color)
  }
  
  .header__secondary--tablette {
    display: none;
    cursor: pointer
  }
  
  .header__mobile {
    position: fixed;
    top: 6em;
    width: 100%;
    height: 100vh;
    background-color: var(--main-bg);
    padding: 2em;
    transform: translateX(0);
    transition: transform .2s ease-in-out;
    z-index: 999
  }
  
  .header__mobile--hidden {
    transform: translateX(100%)
  }
  
  .header__main__burger--active {
    opacity: .5
  }
  
  .header__mobile__link {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 1em 0;
    border-bottom: .2em solid var(--dark-grey);
    cursor: pointer
  }
  
  .header__mobile__link__dot {
    height: 1.5em;
    width: 1.5em;
    border-radius: .75em
  }
  
  .header__mobile__link__title {
    margin-left: 2em;
    padding-top: 3px
  }
  
  .header__mobile__link__icon {
    margin-left: auto
  }
  
  .dot--mercury {
    background-color: #dff4fc
  }
  
  .dot--venus {
    background-color: #f5cc85
  }
  
  .dot--earth {
    background-color: #5760f9
  }
  
  .dot--mars {
    background-color: #fb6b49
  }
  
  .dot--jupiter {
    background-color: #eaad7e
  }
  
  .dot--saturn {
    background-color: #faca73
  }
  
  .dot--uranus {
    background-color: #6eefd6
  }
  
  .dot--neptune {
    background-color: #4e80f6
  }
  
  main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center
  }
  
  .main__planet {
    display: none;
    position: relative
  }
  
  .main__planet--active {
    width: 100%;
    height: 40vh;
    display: flex
  }
  
  .main__planet--img {
    margin: auto
  }
  
  .main__planet--overlay {
    position: absolute;
    top: 62%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    width: 5em;
    height: 6em
  }
  
  .overlayhidden {
    display: none
  }
  
  .main__content {
    text-align: center
  }
  
  .content__title {
    font-family: Antonio, sans-serif;
    font-size: 3.5em;
    font-weight: 500;
    text-transform: uppercase
  }
  
  .content__desc {
    display: none
  }
  
  .content__desc--active {
    margin-top: 3em;
    padding: 0 1.5em;
    display: block
  }
  
  .content__text--link {
    margin-top: 2.5em;
    color: var(--grey)
  }
  
  .content__text--link>a {
    color: var(--grey);
    font-weight: 700;
    text-decoration: underline
  }
  
  .main__info {
    padding: 1em;
    width: 100%
  }
  
  .main__info__div {
    display: flex;
    align-items: center;
    padding: .8em 2em;
    margin: .8em;
    border: .2em solid var(--dark-grey);
    text-transform: uppercase;
    font-weight: 700;
    color: var(--grey)
  }
  
  .main__info__p {
    padding-top: 5px;
    font-size: .9em
  }
  
  .main__info--data {
    margin-left: auto;
    color: var(--white);
    font-family: Antonio, sans-serif;
    font-size: 2em
  }
  
  .main__nav {
    display: none
  }
  
  .header__secondary--desktop {
    display: none;
    cursor: pointer
  }
  
  .planet-mercury {
    width: 111px
  }
  
  .planet-venus {
    width: 154px
  }
  
  .planet-earth {
    width: 173px
  }
  
  .planet-mars {
    width: 129px
  }
  
  .planet-jupiter {
    width: 224px
  }
  
  .planet-saturn {
    width: 250px
  }
  
  .planet-uranus {
    width: 176px
  }
  
  .planet-neptune {
    width: 173px
  }
  
  @media screen and (min-width:768px) {
    .header__main {
      justify-content: center;
      border: none
    }
  
    .header__main__burger {
      display: none
    }
  
    .header__secondary {
      display: none
    }
  
    .header__secondary--tablette {
      display: flex;
      justify-content: space-between;
      padding: 0 2em;
      border-bottom: 1px solid var(--dark-grey);
      height: 4rem;
      align-items: stretch
    }
  
    .header__secondary--tablette__title {
      color: var(--grey)
    }
  
    .header__secondary--tablette__title--active {
      color: var(--white);
      border-bottom: 5px solid var(--active-color)
    }
  
    .main__content {
      text-align: left;
      display: flex;
      align-items: center;
      padding: 0 2em
    }
  
    .content {
      width: 50%
    }
  
    .content__desc--active {
      padding: 0
    }
  
    .main__nav {
      display: block;
      width: 50%;
      padding-left: 4em
    }
  
    .main__nav--div {
      padding: .8em 2em;
      border: .2em solid var(--dark-grey);
      font-weight: 700;
      margin-bottom: 1.5em;
      text-transform: uppercase;
      letter-spacing: 2.3px;
      font-size: .9em
    }
  
    .main__nav--div:hover {
      background-color: var(--dark-grey)
    }
  
    .main__nav--index {
      color: var(--grey);
      padding-right: 1em
    }
  
    .main__nav--active {
      background-color: var(--active-color);
      border: .2em solid var(--active-color)
    }
  
    .main__nav--active .main__nav--index {
      color: var(--white);
      opacity: .8
    }
  
    .main__info {
      display: flex;
      padding: 1em 1.5em
    }
  
    .main__info__div {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 25%;
      padding: 1.5em;
      padding-top: 1em;
      margin: .5em
    }
  
    .main__info__p {
      padding-top: 0;
      font-size: .8em;
      padding-bottom: 1em
    }
  
    .main__info--data {
      margin-left: 0
    }
  }
  
  @media screen and (min-width:1024px) {
    html {
      height: 100vh
    }
  
    body {
      width: 100%;
      height: 100vh;
      position: fixed;
      top: 0;
      bottom: 0
    }
  
    main {
      width: 900px;
      margin: auto;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap
    }
  
    .header__main {
      justify-content: space-between;
      border-bottom: 1px solid var(--dark-grey)
    }
  
    .header__secondary--tablette {
      display: none
    }
  
    .header__secondary--desktop {
      margin-left: auto;
      display: flex;
      justify-content: space-around;
      line-height: 5rem
    }
  
    .header__secondary--desktop__title {
      color: var(--grey);
      margin-left: 2em;
      height: 5rem;
      line-height: 5rem
    }
  
    .header__secondary--desktop__title--active {
      color: var(--white);
      border-top: 5px solid var(--active-color);
      line-height: 4.4rem
    }
  
    .main__planet--active {
      width: 60%;
      height: 55vh
    }
  
    .main__planet--overlay {
      top: 65%;
      width: 9em;
      height: 11.5em
    }
  
    .main__content {
      width: 40%;
      flex-direction: column;
      height: 620px
    }
  
    .content {
      width: 100%;
      margin-top: 4.5rem;
      height: 350px
    }
  
    .content__text--link {
      margin-top: 1em
    }
  
    .main__nav {
      width: 100%;
      padding-left: 0;
      margin-top: 2rem
    }
  
    .planet-mercury {
      width: 190px
    }
  
    .planet-venus {
      width: 300px
    }
  
    .planet-earth {
      width: 350px
    }
  
    .planet-mars {
      width: 236px
    }
  
    .planet-jupiter {
      width: 482px
    }
  
    .planet-saturn {
      width: 560px
    }
  
    .planet-uranus {
      width: 358px
    }
  
    .planet-neptune {
      width: 350px
    }
  }
  